* {
	box-sizing: border-box;
}

body {
	background-color: aquamarine;
	/* scroll-behavior: smooth; */
}

.box {
	display: flex;
	flex-direction: column;
	gap: 16px;
	background-color: #2196f3;
}

.box1 {
	display: flex;
	gap: 16px;
}

.box2 {
	display: flex;
	flex: 1;
	gap: 16px;
	flex-wrap: wrap;
}

.box3 {
}

.child {
	background-color: white;
	padding: 10px;
	text-align: center;
}

#menu {
	background-color: aliceblue;
	position: sticky;
	top: 0;
}

#menu ul {
	display: flex;
	list-style: none;
	gap: 16px;
}

#menu ul li {
	display: block;
	padding: 16px;
}

#gototop {
	position: fixed;
	right: 16px;
	bottom: 16px;
	background: red;
	padding: 32px;
}

h2 {
	font-size: 128px;
}

p {
	font-size: 64px;
}
