@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/PeydaWeb-Bold.woff2) format("woff2");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 600;
  src: url(assets/fonts/PeydaWeb-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 500;
  src: url(assets/fonts/PeydaWeb-Medium.woff2) format("woff2");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/PeydaWeb-Regular.woff2) format("woff2");
}

* {
  border: 0 solid;
  box-sizing: border-box;
  font-family: Peyda, sans-serif, Arial;
  line-height: 1.5;
}

/*! tailwindcss | MIT License | https://tailwindcss.com*/

/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */

[type="email"],
[type="password"],
[type="tel"],
[type="text"],
textarea,
select {
  background-color: #fff;
  border-color: #6b7280;
  border-radius: 0;
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
}

select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem !important;
  color-adjust: exact;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

@media (min-width: 480px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 83.333333%;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 91.666667%;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 75%;
  }
}
@media (min-width: 1536px) {
  .container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    width: 66.666667%;
  }
}

@media (min-width: 1536px) {
  .\32xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .\32xl\:gap-4 {
    gap: 1rem;
  }
}
