* {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}

.title {
  text-align: center;
}

.container {
  margin: auto;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}

form {
  padding: 40px 50px;
}

.input-row {
  padding-bottom: 20px;
}

input {
  display: block;
  /* padding: 5px 0; */
  width: 100%;
  height: 30px;
  margin-top: 5px;
}
select {
  display: block;
  width: 100%;
  /* padding: 10px 0; */
  height: 40px;
  margin: 5px 0;
}
label {
  color: #555;
  /* padding: 5px 0; */
  font-size: 14px;
  margin: 10px 0;
}
.input-container {
  display: inline-block;
  width: 32%;
  box-sizing: border-box;
}
.fullname,
.phone {
  padding-right: 20px;
}
.input-container2 {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
}
.lorem1 {
  padding-right: 20px;
}
button#submit,
#clear {
  margin: 100px 100px;
  display: block;
  width: 200px;
  margin: auto;
}
.input-container3 {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
textarea {
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0;
  font-style: italic;
  padding: 10px;
}
button {
  color: whitesmoke;
  background-color: palevioletred;
  border: 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100px;
  margin: 20px auto;
  border-radius: 2px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
