<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <title>Chat</title>
  <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/lodash/lodash.min.js"></script>
  <script src="chat.js" type="module"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <link href="output.css" rel="stylesheet" />
</head>

<body class="bg-dark-moon">
  <div id="loader"></div>

  <main class="h-screen hidden animate-opacity">
    <!-- about me section -->
    <section class="flex-1 bg-gray-400">
      <div class="flex flex-shrink justify-center items-center py-3 shadow-sky-600 drop-shadow-lg bg-red-700">
        <h1 class="text-center text-white h1">User Detail Section</h1>
      </div>
    </section>

    <!-- general chat section -->
    <section id="history" class="flex-[2] flex flex-col">
      <div class="flex flex-shrink justify-center items-center py-3 shadow-sky-600 drop-shadow-lg bg-blue-900">
        <h1 class="text-center text-white h1">#General Chat</h1>
      </div>
      <div id="messages"
        class="flex flex-col h-full space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
      </div>
      <div
        class="flex gap-3 focus-within:outline-0 focus-within:border border dark:focus-within:ring-sky-500 dark:focus-within:border-sky-500 dark:bg-gray-700 bg-gray-50  text-gray-900 dark:border-gray-600 dark:text-white">
        <textarea
          class="bg-gray-50 border-blue-300 text-gray-900 text-sm block w-full p-2.5 focus:outline-0  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white resize-none"
          placeholder="Enter message here... (ctrl + Enter to send)" type="text" name="message" id="message"
          rows="1"></textarea>
        <div class="flex flex-shrink items-center">
          <div id="limit" class="text-xs">
          </div>
        </div>
        <button id="send" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4">
          Send
        </button>
      </div>
    </section>

    <!-- users section -->
    <section class="flex-1 bg-gray-400">
      <div class="flex flex-shrink justify-center items-center py-3 shadow-sky-600 drop-shadow-lg bg-yellow-700">
        <h1 class="text-center text-white h1">All Users</h1>
      </div>
    </section>
  </main>
</body>

</html>