<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <title>Chat</title>

  <!-- Icons -->
  <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- jQuery Core -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>

  <!-- popperjs -->
  <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>

  <!-- jQuery Modal -->
  <script src="/node_modules/jquery-modal/jquery.modal.min.js"></script>
  <link href="/node_modules/jquery-modal/jquery.modal.min.css" rel="stylesheet" />

  <!-- lodash for more data functions -->
  <script src="/node_modules/lodash/lodash.min.js"></script>

  <!-- main.js -->
  <script src="chat.js" type="module"></script>

  <!-- css made by Tailwind -->
  <link href="output.css" rel="stylesheet" />
</head>

<body class="bg-dark-moon">
  <div id="loader"></div>

  <main class="h-screen hidden animate-opacity">
    <!-- about me section -->
    <section class="flex-1 hidden md:block bg-gray-400">
      <div class="flex flex-shrink justify-center items-center py-3 shadow-sky-600 drop-shadow-lg bg-red-700">
        <h1 class="text-center text-white h1">User Detail Section</h1>
      </div>
    </section>

    <!-- general chat section -->
    <section id="history" class="flex-[2] flex flex-col">
      <div class="flex flex-shrink justify-center items-center py-3 shadow-sky-600 drop-shadow-lg bg-blue-900">
        <h1 class="text-center text-white h1">#General Chat</h1>
      </div>

      <!-- History for all messages -->
      <div id="messages"
        class="flex flex-col h-full space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
      </div>

      <!-- Edit Text -->
      <div id="edit" class="bg-gray-700 border-t border-blue-500 flex justify-between">
        <span id="edit_text" class="p-3 text-white text-sm"></span>
        <button id="close_edit" class="p-3  text-red-600 fill-white flex"><i class="bi bi-x-circle"></i></button>
      </div>

      <div id="progress" class="bg-red-600 h-1 w-0 transition-all"></div>
      <div id="error" class="bg-gray-700 flex justify-between">
        <span id="error_text" class="p-3 text-red-400 text-sm"></span>
        <button id="close_error" class="p-3  text-red-600 fill-white flex"><i class="bi bi-x-circle"></i></button>
      </div>

      <!-- User input -->
      <div
        class="flex gap-3 focus-within:outline-0 focus-within:border border dark:focus-within:ring-sky-500 dark:focus-within:border-sky-500 dark:bg-gray-700 bg-gray-50  text-gray-900 dark:border-gray-600 dark:text-white">

        <!-- Text Input -->
        <textarea
          class="bg-gray-50 border-blue-300 text-gray-900 text-sm block w-full p-2.5 focus:outline-0  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white resize-none"
          placeholder="Enter message here..." type="text" name="message" id="message" rows="1"></textarea>

        <!-- Limit area -->
        <div class="flex flex-shrink items-center">
          <div id="limit" class="text-xs">
          </div>
        </div>

        <!-- Button Group -->
        <div class="flex flex-shrink">

          <!-- Upload pics -->
          <button id="upload" class="p-2 group">
            <div
              class="w-8 h-8 flex items-center justify-center transition-all group-hover:bg-green-700 text-white rounded-full text-lg">
              <i class="bi bi-image"></i>
            </div>
          </button>

          <button id="emoji" class="p-2 group">
            <div
              class="w-8 h-8 flex items-center justify-center transition-all  group-hover:bg-yellow-500 text-white rounded-full">
              <span class="material-icons">face</span>
            </div>
          </button>

          <!-- Send -->
          <button id="send" class="p-2 group">
            <div
              class="w-8 h-8 flex items-center justify-center transition-all group-hover:-rotate-90 group-hover:bg-blue-700 text-white rounded-full">
              <span class="material-icons pl-1">send</span>
            </div>
          </button>

          <!-- Edit -->
          <button id="edit_button" class="p-2 group hidden">
            <div
              class="w-8 h-8 flex items-center justify-center transition-all group-hover:bg-indigo-500 text-white rounded-full">
              <span class="material-icons pl-1">edit</span>
            </div>
          </button>
        </div>
      </div>

      <input type="file" name="picture" id="picture" class="hidden">

      <!-- Image Preview -->
      <div id="picture_modal" class="modal bg-gray-600">
        <!-- <p>Thanks for clicking. That felt good.</p> -->
        <img id="img" alt="your image" class="w-full h-auto" />
        <div class="flex justify-end mt-3">
          <button id="confirm_upload" class="text-white bg-green-600 rounded shadow py-1 px-3 mr-3">Upload</button>
          <button id="cancle_upload" class="text-white bg-red-600 rounded shadow py-1 px-3">Cancle</button>
        </div>
      </div>
    </section>

    <!-- users section -->
    <section class="flex-1 hidden md:block bg-gray-400">
      <div class="flex flex-shrink justify-center items-center py-3 shadow-sky-600 drop-shadow-lg bg-yellow-700">
        <h1 class="text-center text-white h1">All Users</h1>
      </div>
    </section>
  </main>
</body>

</html>