body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
}

div {
  background-color: #f00;
  color: #fff;
  font-size: 16px;
  font-size: 32px;
  text-align: center;
  padding: 5px;
}

div:nth-child(1) {
  grid-column: 1 / -1;
}

div:nth-child(2),
div:nth-child(3) {
  grid-column: auto / span 6;
  /* background-color: #ffa500; */
}

div:nth-child(n + 4):nth-child(-n + 6) {
  grid-column: auto / span 4;
  /* background-color: #ff0; */
}

div:nth-child(n + 7):nth-child(-n + 10) {
  grid-column: auto / span 3;
  /* background-color: #008000; */
}

div:nth-child(n + 11):nth-child(-n + 16) {
  grid-column: auto / span 2;
  /* background-color: #0000ff; */
}

/* div:nth-child(n + 17) {
  background-color: #4b0082;
} */
