table {
  border-collapse: collapse;
  width: 50%;
  color: white;
  margin-top: 10px;
}

tr:first-child {
  text-align: left;
  border-bottom: 1px solid white;
  background-color: #212529;
}

th:first-child {
  width: 10%;
}

tr:nth-child(even) {
  background-color: #212529;
}

tr:nth-child(odd) {
  background-color: #2c3034;
}

td,
th {
  padding: 5px;
}
