body {
  background-image: linear-gradient(90deg, #2843b8 10%, #1776c6 100%);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 300px;
  margin: auto;
  background-color: azure;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.image-container {
  position: absolute;
  bottom: 75%;
}
img {
  position: relative;
  right: 50%;
  width: 9em;
  box-sizing: content-box;
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #fdd819, #e80505);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.text-container {
  display: table;
  position: absolute;
  width: 70%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.date {
  color: #777;
}

.title {
  font-weight: bolder;
  font-size: 20px;
}

.describe {
  columns: #444;
}

button {
  color: white;
  background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%);
  border: 0;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
